<ion-header [translucent]="true">
  <ion-toolbar>
    <header>
      <div class="containertitulo">
        <ion-title class="marca" [routerLink]="['/']"> SaboresBase </ion-title>
      </div>
      <form class="search-container" (ngSubmit)="onSearch()">
        <input type="text" placeholder="Buscar productos" [(ngModel)]="searchQuery" name="search"/>
        <ion-icon name="search-outline" class="search-icon" (click)="onSearch()"></ion-icon>
      </form>
      <ion-buttons class="nav-bar" slot="end">
        <ion-button
          [routerLink]="['/products/product-list']"
          [ngClass]="{ 'active-button': isActive('/products/product-list') }"
        >
          Productos
        </ion-button>
        <ion-button
          [routerLink]="['/recipes']"
          [ngClass]="{ 'active-button': isActive('/recipes') }"
        >
          Recetas
        </ion-button>
        <ion-button
          class="call-to-action"
          *ngIf="!isAuthenticated"
          [routerLink]="['/login']"
        >
          Iniciar Sesión
        </ion-button>
        <ion-button
          *ngIf="isAuthenticated"
          class="call-to-action"
          [routerLink]="['/shoping-cart']"
        >
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          5
        </ion-button>
        <ion-button
          *ngIf="isAuthenticated"
          [routerLink]="['/status']"
          size="large"
        >
          <ion-icon slot="start" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </header>
  </ion-toolbar>
</ion-header>
