ion-title{
  cursor: pointer;
  color: #f5f7fa;
}
ion-toolbar {
  --background: #2d495f;
  --color: black;
  --border-color: #404E68;
  --border-width: 0 0 2px 0;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --padding-bottom: 10px;  
  --padding-top: 10px;
}

ion-button{
  --padding-bottom: 10px;  
  --padding-top: 10px;
  --padding-start: 1.5rem;
  --padding-end: 1.5rem;
  color: #a3c0d6;
}

.active-button {
  color: #e9eff5;
  font-weight: bold;
}
