ion-title{
  cursor: pointer;
}
ion-toolbar {
  --background: #F1F5F9;
  --color: black;
  --border-color: #404E68;
  --border-width: 0 0 2px 0;

  --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 2rem;
  --padding-end: 2rem;
}

ion-button{
  background-color: #404E68;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 8px;

  --padding-bottom: 10px;  
  --padding-top: 10px;
  --padding-start: 1.5rem;
  --padding-end: 1.5rem;
}