main {
  width: 100%;
  display: grid;
  place-content: center;
  padding: 5rem;
  gap: 2rem;

  img {
    aspect-ratio: 1/1;
    max-height: 650px;
  }

  h1{
    padding: 0;
    margin: 0;
    margin-top: 5rem;
  }
}

.wrapper {
  display: flex;
  width: min(1200px, 100% - 2rem);
  gap: 32px;
}

.wrapper > section {
  display: flex;
  flex-direction: column;
  place-content: start;
  padding: 2rem;
  width: 100%;
  background-color: white;
  border: 2px solid #404E68;
  min-width: 600px;
  max-height: 300px;
  border-radius: 8px;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #313949;
    span {
      font-size: 0.9rem;
      font-style: italic;
      color: #888888;
    }
  }

  .Precio {
    font-size: 2rem;
    color: #202531;
    font-weight: bold;
  }

  small {
    flex: 1
  }
}

ion-button.call-to-action{
  --background: #001F3F;
  --color: #FFFFFF;
  font-weight: bold;
  border-radius: 8px;
  min-height: 50px;

  --padding-bottom: 10px;  
  --padding-top: 10px;
  --padding-start: 1.5rem;
  --padding-end: 1.5rem;
  flex: 1;
}

ion-button {
  --background: white;
  --border-color: #2d495f;
  --border-width: 1px;
  --border-style: solid;
  --background-hover: #7397be;
  font-weight: bold;
  border-radius: 8px;
  min-height: 50px;
  flex: 1;
}

.buttons {
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 2rem;

  article {
    background-color: white;
    border: 2px solid #2d495f;
    display: grid;
    grid-template-columns: auto 70%;
  }

  img {
    aspect-ratio: 1/1;
  }

  h1 {
    margin: 0;
    padding: 1rem;
  }

  h3 {
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    color: #313949;
    font-weight: bold;
  }
}