main {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 800px) minmax(1rem, 1fr);
  min-height: 100svh;
  place-items: center;
}
main > * {
  grid-column: 2 / -2;
}

article {
  display: flex;
  color: black;
  align-items: center;
}


ion-icon {
  font-size: 2.5rem;
  color: #a3c0d6;
}