<ion-header [translucent]="true">
  <app-header />
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div class="wrapper">
      <img [src]="product.imgName" alt="" />
      <section>
        <h1>{{product.product}} <span>{{product.brand}}</span></h1>
        <h3 class="Precio">${{product.price}} mxn</h3>
        <small>Contenido: {{product.quantity}}</small>
        <div class="buttons">
          <ion-button class="call-to-action"> Añadir al carrito </ion-button>
          <ion-button> Comprar </ion-button>
        </div>
      </section>
    </div>

    <h1>Recetas recomendadas con {{product.product}}</h1>
    <div class="container-grid">
      <article *ngFor="let meal of meals">
        <img [src]="meal.strMealThumb" alt="" />
        <h3>{{meal.strMeal}}</h3>
        <ion-button [routerLink]="['/recipes/recipe', meal.idMeal]">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </article>
    </div>
  </main>
</ion-content>
