<ion-header [translucent]="true">
  <app-header />
</ion-header>

<ion-content [fullscreen]="true">
  <div><h1>Refrigerados</h1></div>
  <div class="container">
    <ion-card>
      <ion-card-title>Tomate</ion-card-title>
      <img alt="Imagen del platillo" src="https://images.unsplash.com/photo-1710968875694-1883b2d11070?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw3fHx8ZW58MHx8fHx8" />
      <ion-card-header>
        <ion-card-subtitle>Marca</ion-card-subtitle>
      </ion-card-header>
    
      <div class="Contenido">
        <ion-card-content class="Precio">
          $200 Mxn
        </ion-card-content>
        <ion-card-content>
          1 pieza
        </ion-card-content>
      </div>
      <!-- <ion-button [routerLink]="['/product-item']">Tomate</ion-button>
      <ion-button [routerLink]="['/shoping-cart']">Carrito</ion-button> -->
    </ion-card>
    <ion-card>
      <ion-card-title>Leche deslactosa</ion-card-title>
      <img alt="Imagen del platillo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-subtitle>Marca</ion-card-subtitle>
      </ion-card-header>
    
      <div class="Contenido">
        <ion-card-content class="Precio">
          $200 Mxn
        </ion-card-content>
        <ion-card-content>
          6 piezas
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <ion-card-title>Agua embotellada</ion-card-title>
      <img alt="Imagen del platillo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-subtitle>Marca</ion-card-subtitle>
      </ion-card-header>
    
      <div class="Contenido">
        <ion-card-content class="Precio">
          $200 Mxn
        </ion-card-content>
        <ion-card-content>
          Hola que tal
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <ion-card-title>Carne de cerdo</ion-card-title>
      <img alt="Imagen del platillo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-subtitle>Marca</ion-card-subtitle>
      </ion-card-header>
    
      <div class="Contenido">
        <ion-card-content class="Precio">
          $200 Mxn
        </ion-card-content>
        <ion-card-content>
          Hola que tal
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <ion-card-title>Pescado</ion-card-title>
      <img alt="Imagen del platillo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-subtitle>Marca</ion-card-subtitle>
      </ion-card-header>
    
      <div class="Contenido">
        <ion-card-content class="Precio">
          $200 Mxn
        </ion-card-content>
        <ion-card-content>
          Hola que tal
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>
