/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
html, body, ion-app{
  --ion-background-color: #F1F5F9;
  font-size: 1.125rem;
}


label{
  color: #404E68;
  font-size: 0.8rem;
  font-weight: bold;
}

form {
  display: flex; 
  flex-direction: column; 
  width: 30%; 
  gap: 1rem;
}

input {
  background-color: #fff;
  border: 2px #404E68 solid;
  color: black;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
}

.centeredForm {
  display: flex; 
  flex: 1; 
  justify-content: center; 
  align-items: center;
}

.containerForm {
  background-color: #FFFFFF;
  display: flex;
  gap: 5rem;
  padding: 3rem;
}

.Error {
  color: red;
  font-size: 0.8rem;
}

form > button {
  background-color: #404E68;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
}

.loader {
  text-align: center;
  margin-top: 10px;
  color: #404E68;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  text-align: center;
}

small {
  color: #a09d9d
}
.IMGForm {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.IMGForm > img {
  height: 500px;
  object-fit: cover; 
  position: absolute
}

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
