ion-card {
  width: 350px;
  padding: 1rem;
  justify-content: space-around;
}

ion-card img {
  width: 100%; 
  max-width: 100%;
}


ion-card-content {
  color: #e7e7e7;
  text-wrap: pretty; 
}



ion-card-title {
  --color: #9665c2;

  font-weight: bold;
}


ion-card-subtitle {
  --color: #d4c6ec;

}

.container{
  background-color: #06040b;
  padding: 3rem;
  gap: 2rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}